
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu&display=swap');


html{
    scroll-behavior: smooth;
}
body {
    font-family: Ubuntu, sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}
/* ul {
    margin: 0;
    padding: 0;
} */
li {
    list-style: none;
}
 
/* img {
    width: auto;
    height: 500px;
} */

h1 {
    padding: 30px;
    font-size: 4rem;
    text-transform: uppercase;
    color: dimgrey;
}
h2, h3 {
padding: 30px;
color: saddlebrown;
}


/* NAVBAR */

a {
    text-decoration: none;
    color: peru;
}
header nav {
    overflow: hidden;
    background-color: white;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}
header nav img {
    height: 80px;
    width: 100%;
}
header li {
float: right;
font-size: 1.2rem;
}
header li a {
    text-decoration: none;
    display: block;
    padding: 18px;
}
#grosTitre {
    font-family: Dancing Script;
    text-shadow: 1px 3px 2px black;
}
#loogo {
    float: left;
}


/* fond d'ecran, présentation */

#presentation {
    padding: 20px;
    background-size: auto;
    height: 100px;
    min-height: 70vh;
}

#premierTrait {
    height: 3px;
    width: 50%;
    margin: -3px auto;
    background-color: bisque;
}

/* les poilus dispos  */

#lapin1 {
    background-image: url(./assets/img/Barnabé.jpg);
    background-repeat: no-repeat;

}
/* #lapin2 {
    background: url(./assets/img/Barnabé.jpg);
    background-repeat: no-repeat;
} */

#liste1 {
    background-color: bisque;
    text-align: center;
    padding: 60px;
 }
#liste1 li {
    margin: 65px 100px 0 100px;
    width: 100vw;
    height: 100vh;
}
#test111 {
    font-family: Dancing Script, cursive;
    font-size: 2rem;
}

/* copyright */

footer {
    background-color: bisque;
}

.copyright {
    padding: 50px;
}

/* @media screen and (max-width: 1100px) {
    .picsBunny img {
        max-width: 50%;
        max-height: 80%;
    }
} */